[Unit]
Description=Kubernetes Kubelet
After=docker.service
Requires=docker.service
[Service]
ExecStart=/usr/bin/kubelet \
  --address=0.0.0.0 \
  --port=10250 \
  --fail-swap-on=false \
  --allow-privileged=false \
  --pod-manifest-path=/etc/kubernetes/manifests/ \
  --kubeconfig=/etc/kubernetes/cfg/kubeconfig
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target